[Desktop Entry]
Name=swap esc and caps
Type=Application
Comment=swap esc and caps
Exec=sh -c "$USR_CUSTOM_SCRIPTS/standalone-scripts/swap-caps-and-esc.sh"
Terminal=false
StartupNotify=false
