[Desktop Entry]
Exec=/usr/bin/xmodmap ~/git_projects/installs/linux-postinstall/.Xmodmap
Name=Swap-esc-and-caps
OnlyShowIn=LXQt;
Type=Application
Version=1.0
X-LXQt-Need-Tray=true
