[Desktop Entry]
Type=Application
Name=Google Chrome autostart
Comment=Start google chrome stable
Exec=google-chrome-stable --profile-directory=Default
