[Desktop Entry]
Name=space as ctrl
Type=Application
Comment=Using spase as both ctrl and space
Exec=sh -c "$HOME/git_projects/installs/debian-lxde-postinstall/separate-script/space2ctrl.sh"
Terminal=false
StartupNotify=false
